/*-----------------------------HERO PART-----------------------------*/
.hero{
    background-image: url("../images/hero_images/przechowywanie_hero.jpg");
    height: 45vh;
    overflow: hidden;
}

.hero-title{
    position: relative; 
    z-index: 1;
    color: #2a3b19;
    font-size: 2.6rem;
    text-shadow: 2px 2px 7px rgba(233, 227, 221, 0.7);
    text-align: center;
}


.hero::before{
    content: "";
    position: absolute;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.4);
}



/*-----------------------------STORAGE NAV-----------------------------*/
.storage-nav{
    width: 100%;
    background-color: #412F26;
    padding: 1em 0;
}

.storage-nav ul{
    display: flex;
    justify-content:center;
    list-style: none;
    margin: 0;
    padding: 0;
    gap: 5em;
}

.storage-nav ul li a{
    text-decoration: none;
    color:aliceblue;
    font-weight: bold;
    padding: 0.5em 1em;
    display: inline-block;
}

.storage-nav ul li a:hover{
    text-shadow: 2px 2px 6px rgba(0,0,0,0.7);
    transform: scale(1.15);
}




/*---------------------------METHOD HELPER PANEL-----------------------------*/
.method-helper{
    width: 100%;
    background-color: rgb(173, 151, 123);
    padding: 3em 0;
    text-align: center;
}

.method-helper h2{
    margin-bottom: 1.5em;
    color: rgb(56, 30, 14);
    font-size: 2.4rem;
}

.helper-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1.5em;
    width: 90%;
    margin: auto;
}

.helper-card{
    background-color: rgba(214, 219, 214, 0.712);
    border-radius: 15px;
    padding: 1.5em;
    gap: 1em;
    height: auto;
    display: grid;
    grid-template-rows: 1fr auto 0.7fr;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.4);
    word-wrap: break-word;
    overflow-wrap: break-word;
    hyphens: auto;
}

.helper-card h3{
    color: #412F26;
    font-size: 1.3rem;
    margin-bottom: 0.8rem;
}

.helper-card img{
    width: 100%;
    border-radius: 10px;
    object-fit: cover;
    aspect-ratio: 4/3;
}

.suggested-method{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.2em;
    margin-top: auto;
    padding: 0.8em 1em;
}

.suggested-method .label{
    font-size: 0.9rem;
    opacity: 0.85;
    color: #412F26;
}

.suggested-method .method-name{
    letter-spacing: 1px;
    background-color: #455831;
    border-radius: 10px;
    padding: 0.4em 0.4em;
    width: 100%;
}

.suggested-method .method-name a{
    text-decoration: none;
    color:bisque;
    font-size: 1.2rem;
    font-weight: bold;
}

.suggested-method .method-name a:hover{
    text-shadow: 2px 2px 6px rgba(0,0,0,0.7);
    color:aliceblue;
}





/*-----------------------------MAIN PART-----------------------------*/
.subchapter{
    width: 80%;
    margin: 2em auto;
    display: grid;
    scroll-margin-top: 100px;
    word-wrap: break-word;
    overflow-wrap: break-word;
    hyphens: auto;
}

.subchapter:not(#lodowka, #suszenie){
    padding: 2em;
    border-radius: 15px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
    gap: 1em;
}

.subchapter h3 {
    font-size: 2rem;
    margin-bottom: 0.5em;
    padding: 0.5em 0.5em;
    border-radius: 10px;
}

.subchapter p {
    font-size: 1.2rem;
    line-height: 1.6;
    margin-bottom: 0.3rem;
}


.subchapter ul{
    list-style:disc;
    padding-left: 1.2em;
    margin: 0;
}

.subchapter ul li{
    margin-bottom: 0.7em;
    font-size: 1.2rem;

}

/*--lodowka--*/
.lodowka-grid {
    display: grid;
    grid-template-columns: 2fr 1fr; 
    gap: 2em; 
    width: 100%;
}

.lodowka-left{
    background-color: #412F26;
}

.lodowka-right{
    background-color: #72584c; 
    text-align: center;
}

.lodowka-left,
.lodowka-right {
    padding: 1.5em;
    border-radius: 15px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.3);
    display: flex;
    flex-direction: column;
    gap: 1em;
    color:antiquewhite;
}

.lodowka-left h3{
    color:#412F26;
    background-color:antiquewhite;
}

.lodowka-right h3{
    background-color: #412F26;
    color: antiquewhite;
}


#lodowka, #suszenie{
    gap: 0;
    padding: 0;
}

.lodowka-right h3, .suszenie-right h3 {
    font-size: 1.8rem;
    margin-bottom: 1em;
}

/*--suszenie--*/
.suszenie-grid {
    display: grid;
    grid-template-columns: 7fr 3fr; 
    gap: 2em; 
    width: 100%;
}

.suszenie-left{
    background-color: antiquewhite;
}

.suszenie-right{
    background-color: rgb(173, 151, 123); 
    text-align: justify;
}

.suszenie-left,
.suszenie-right {
    padding: 1.5em;
    border-radius: 15px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.3);
    display: flex;
    flex-direction: column;
    gap: 1em;
    color:#412F26;
}


.suszenie-right h3{
    text-align: center;
}

#suszenie h3{
    background-color: #412F26;
    color:antiquewhite
}

.suszenie-right strong{
    background-color: antiquewhite;
    padding: 0.2em 0.5em;
    border-radius: 10px;
}


/*--mrozenie--*/
#mrozenie{
    background-color: #455831;
    color:  rgb(219, 190, 153);
}

#mrozenie h3{
    background-color:  rgb(219, 190, 153);
    color: #455831;
}

/*--marynowanie--*/
#marynowanie{
    background-color: rgb(110, 70, 17);
    color:  rgb(219, 190, 153);
}

#marynowanie h3{
    background-color: rgb(219, 190, 153);
    color:  rgb(110, 70, 17);
}


/*--recipe list--*/
.recipe-list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;

}

.recipe-list li {
    display: flex;
    align-items: center;
    text-align: left;
    gap: 0.8em;
    padding: 0.5em;
    border-radius: 8px;
    background-color: rgba(255, 255, 255, 0.8); 
}

.recipe-list li img {
    width: 4em;
    height: 4em;
    object-fit: cover;
    border-radius: 5px;
}

.recipe-list li a {
    text-decoration: none;
    font-weight: bold;
    color: #412F26;
    font-size: 1.1em;
}

.recipe-list li a:hover {
    text-shadow: 0 6px 10px rgba(0, 0, 0, 0.4);
}










/**************************************************************************************
____________________________________RESPONSYWNOŚĆ____________________________________*/

@media (max-width: 1200px) {
    .storage-nav ul {
        gap: 2em;
        flex-wrap: wrap;
    }

    .helper-grid {
        grid-template-columns: repeat(2, 1fr);
    }

    .method-helper h2{
        padding: 0.5em;
    }

    .subchapter {
        width: 90%;
    }

    .lodowka-grid, .suszenie-grid {
        grid-template-columns: 1fr;
    }

    .lodowka-left, .lodowka-right,
    .suszenie-left, .suszenie-right {
        width: 100%;
    }
}






@media (max-width: 850px) {
    .hero-title {
        font-size: clamp(1.8rem, 6vw, 2.7rem);
    }

    .method-helper {
        padding: 2em 0;
    }

    .helper-card {
        padding: 1em;
        gap: 0.8em;
    }

    .helper-card h3 {
        font-size: 1.1rem;
    }
}






@media (max-width: 600px) {
    .hero {
        height: 30vh;
    }

    .hero-title h1 {
        font-size: clamp(1.8rem, 7vw, 2.4rem);
        overflow-wrap: break-word;
        hyphens: auto;    
    }

    .storage-nav ul {
        flex-direction: column;
        align-items: center;
        gap: 1em;
        text-align: center;
    }

    .helper-grid {
        grid-template-columns: 1fr;
    }

    .method-helper h2{
        font-size: clamp(1.4rem, 2.5vw, 2.6rem);;
    }

    .subchapter {
        width: 95%;
        padding: 1em;
    }

    .subchapter h3{
        padding: 0.2em 0.2em;
    }

    .lodowka-grid, .suszenie-grid {
        gap: 1em;
    }
}


@media (max-width: 360px) {
    .helper-card{
        width: 80%;
        margin: 0 auto;

    }

    .suggested-method .method-name{
        width: 85%;
        margin: 0 auto;
    }

    .suggested-method .method-name a[href="#marynowanie"] {
        font-size: clamp(0.8rem, 4vw, 1.5rem);
    }

    .recipe-list li {
        flex-direction: column;
        align-items: flex-start;
    }

    .recipe-list li img {
        width: 100%; 
        height: auto; 
        aspect-ratio: 4/3;
        object-fit: cover;
        border-radius: 5px;
    }

    .recipe-list li a {
        text-align: center;
        width: 100%;
    }

    #lodowka h3,
    #marynowanie h3{
        font-size: clamp(1.2rem, 4vw, 2rem);;
    }
}